<html>
    <head>
        <title>Tableau de bord  des Messages </title>
    </head>
    <body>
        <h3>Espace pour Ajouter un message </h3>
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <label for="message">Message:</label>
            <input type="text" name="message" required>
            <button type="submit">Envoyer</button>
        </form>
        <h3>Vue detaillée  des messages:</h3>
        {% for message in messages %}
            <p>{{ message.content }} - {{ message.timestamp }}</p>
        {% endfor %}
    </body>
    </html>